<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div id="centralizaTexto">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <center><h1>Produtos</h1></center>
                <%#= inventario %>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item</th>
                            <th>Preço</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% inventario.forEach(produto => { %>
                        <tr>
                            <td><i class="fa fa-tag" aria-hidden="true"></i></td>
                            <td><%= produto.nomeProd %></td>
                            <td><%= produto.price.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><%= produto.cat %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>